@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover,
  button:hover {
    cursor: cell;
  }

  .heading span {
    transition: color 1s;
    transition-delay: 0s;
    cursor: cell;
  }

  .heading span:hover {
    transition: color 0s;
  }

  .heading span:nth-child(1n):hover {
    color: #b9d93c;
  }

  .heading span:nth-child(2n):hover {
    color: #9da0f4;
  }

  .heading span:nth-child(3n):hover {
    color: #62e5f1;
  }
  .heading span:nth-child(4n):hover {
    color: #f2a7fa;
  }
}

@layer components {
  .btn-arrow .arrow-icon {
    @apply inline-block translate-x-2.5;
    transition: 0.3s ease-in-out;
  }
  .btn-arrow .arrow-icon--circle {
    transition: 0.3s ease-in-out;
    transform: translateX(0px);
  }
  .btn-arrow:hover .arrow-icon {
    animation: arrowHover 1s;
  }
  .btn-arrow:hover .arrow-icon--circle {
    animation: arrowHoverCircle 1s;
  }

  @keyframes arrowHover {
    0% {
      transform: translateX(10px);
    }
    30% {
      transform: translateX(5px);
    }
    80% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes arrowHoverCircle {
    0% {
      transform: translateX(0px);
    }
    30% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .nn-featured img {
    height: 100%;
    width: auto !important;
  }

  .nn-featured:nth-child(2) .bg-featured-img {
    @apply bg-[#DEF878];
  }

  .nn-featured:nth-child(3) .bg-featured-img {
    @apply bg-[#e1e8ff];
  }

  .nn-featured:nth-child(4) .bg-featured-img {
    @apply bg-[#cffbff];
  }

  .nn-featured:nth-child(2) .bg-featured-container {
    @apply bg-[#fcffef99] dark:bg-[#fcffef0e];
  }

  .nn-featured:nth-child(3) .bg-featured-container {
    @apply bg-[#f5f8ff99] dark:bg-[#f5f8ff0e];
  }

  .nn-featured:nth-child(4) .bg-featured-container {
    @apply bg-[#f1feff99] dark:bg-[#f1feff0e];
  }

  .input-subscribe {
    @apply py-4 px-6 leading-tight bg-white placeholder-gray-300 border border-slate-900 dark:border-white dark:text-gray-200 dark:bg-slate-900/20 outline-none rounded-none shadow-none;
  }

  .btn-subscribe {
    @apply absolute inset-y-0 right-0 flex items-center py-4 px-6 bg-[#DEF878] border border-slate-900 dark:border-white focus:outline-none uppercase hover:bg-[#ecffa2] text-xs md:text-sm rounded-none shadow-none;
  }

  .footer-social {
    @apply hover:animate-bounce rounded-full h-10 w-10 md:h-12 md:w-12 flex items-center justify-center bg-white/30 dark:bg-white/10 border border-slate-900/5 dark:border-slate-100 dark:text-gray-200;
  }

  @media (max-width: 767px) {
    #navigation {
      @apply order-4;
    }
  }
}
